# GEMINI_API_KEY=

GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_CREDENTIALS_JSON=


DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:6543/postgres
DIRECT_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POOLER_PORT=6543

# Auth0 Configuration
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
